<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mars.miuifilemanager"
    android:versionCode="4"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>

    <supports-screens android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.READ_PHONE_STATE" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name="com.mars.miuifilemanager.FileExplorerTabActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mars.miuifilemanager.ui.FileViewActivity" 
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name="com.mars.miuifilemanager.ui.FileCategoryActivity"
            android:launchMode="singleTask" >
            <intent-filter >
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name="com.mars.miuifilemanager.ui.ServerControlActivity" 
            android:launchMode="singleTask"/>
        <activity
            android:name="com.feedback.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.feedback.ui.FeedbackConversations" >
        </activity>
        <activity
            android:configChanges="keyboard"
            android:name="com.feedback.ui.FeedbackConversation" >
        </activity>

        <service android:name="com.mars.miuifilemanager.service.FTPServerService" />
        <service
            android:label="FileScanService"
            android:name="com.mars.miuifilemanager.service.FileScanService" />

        <provider
            android:authorities="wowfileexplorerv3"
            android:name="com.mars.miuifilemanager.provider.WowFileProvider" />
        
        <activity android:name="com.mars.miuifilemanager.ui.TextReaderActivity" 
            android:configChanges="locale|keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:label="@string/text_editor" android:name="com.mars.miuifilemanager.ui.TextEditorActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
                
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4f2f488752701549b1000004" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="baidu_mobad" />
		
	    <meta-data android:name="BaiduMobAd_APP_ID" android:value="ac1fecfe" /> 
		<meta-data android:name="BaiduMobAd_APP_SEC" android:value="ac1fecfe" />
		<activity android:name="com.baidu.mobads.appoffers.OffersActivity" 
		    android:configChanges="keyboard|keyboardHidden|orientation" />		
    </application>

</manifest>
